# flyctl launch added from .venv/.gitignore
.venv/**/*

# flyctl launch added from .venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/.gitignore
.venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.*.so
.venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.*.pyd
.venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.pyx

# flyctl launch added from .venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/.gitignore
.venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_x86.dylib
.venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_x86_64.dylib
.venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_linux_x86.o
.venv/lib/python3.12/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_linux_x86_64.o

# flyctl launch added from .venv/lib/python3.12/site-packages/jupyterlab_widgets/.gitignore
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/*.suo
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/*.user
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/.DS_Store
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/node_modules
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/typings/tsd.d.ts
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/npm-debug.log
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/test/build
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/test/coverage
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/lib
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/dist
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/build
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/docs
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/example/*.js
.venv/lib/python3.12/site-packages/jupyterlab_widgets/**/static

# flyctl launch added from dist/.gitignore
dist/**/*
fly.toml
